target/
*.iml
*.ipr
*.iws
.idea/
.classpath
.project
.settings/
nb-configuration.xml
nbactions.xml
*.jpr
*.jws
.adf/
.data/
build/
dist/
.DS_Store
*.swp
*.log
*.lock
*.out
*.so
Thumbs.db
